@model IEnumerable<TIJN.BankAccount>

@{
    ViewBag.Title = "Bank Accounts";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Bank Accounts</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.accountNumber)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.isPrimary)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.isVerified)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.balance)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.User.firstName)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.accountNumber)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.isPrimary)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.isVerified)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.balance)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.User.firstName)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.bankaccountID }) |
            @Html.ActionLink("Details", "Details", new { id=item.bankaccountID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.bankaccountID })
        </td>
    </tr>
}

</table>
